# Visual Studio 2015/2017 cache/options directory
.vs/
.vscode/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Ignored files indicated in https://medium.com/@paleo.said/how-to-bundle-an-npm-package-with-typescript-and-rollup-f80e0f196189
/lib
/service
/model
/shared
index*.js
index*.d.ts
